.title2 p{
text-align: center;
font-size: 28px;
}

table{
  width: 100%;
}

.contactform{
  padding:5% 10%;
}


/* tr{
  width: 100%;
} */
th{
  /* width: 30%; */
  text-align: left;
  font-size: 28px;
}

td input{
  /* width: 100%; */
  font-size: 26px;
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  height: 300px;
  font-size: 26px;
}

.text{
  width: 100%;
}

@media screen and (max-width : 768px){
.title2 p{
text-align: center;
font-size: 20px;
}

.title2 h2{
  font-size: 28px;
}

th{
  font-size: 18px;
}

td input{
  font-size: 18px;
  margin-bottom: 20px;
}

textarea{
  height: 200px;
  font-size: 18px;
}


}

@media screen and (max-width : 480px){
  .title2 p{
text-align: left;
font-size: 18px;
padding: 0 5px;
}

.title2 h2{
  font-size: 28px;
  padding:30px 5px;
}

.contactform{
  padding:5% 2%;
}

th{
  font-size: 17px;
}

td input{
  font-size: 17px;
  margin-bottom: 20px;
}

textarea{
  font-size: 16px;
}
}
