.interview_content{
  display: flex;
  background-color: #fff;
  width: 75%;
  margin: 20px auto;
}

.interview_content:nth-child(even){
  flex-direction: row-reverse;
}
main{
  padding:10px;
}

p{
  font-size: 28px;
}
.interview_content>div{
  margin:  auto;
}

a{
  color: black;
}

@media screen and (max-width : 768px){
.interview_content{
  width: 100%;
  margin: 5px auto;
}

.interview_content:nth-child(even){
  flex-direction: row-reverse;
}
main{
  padding:10px;
}

p{
  font-size: 20px;
}

}

@media screen and (max-width : 480px){

}