h2{
  font-size: 38px;
  text-align: center;
  padding: 50px;
}

.tech_coach{
  display: flex;
  padding: 100px;
  text-align: center;
  background-color: #fff;
  align-items: center;
}

.tech_coach>p{
  text-align: left;
  font-size: 28px;
  line-height: 1.5em;
  padding: 0 20px;
}

.service>div{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.news{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.service{
  background-color: #fff;
  padding-bottom: 50px;
}



.service_2{
  justify-content: space-around;
}

.reqruit img{
  width: 100vw;
}

.reqruit p{
  font-size: 28px;
  text-align: center;
  padding: 50px;
}



@media screen and (max-width : 768px){
  .tech_coach{
    display: block;
  }

  .tech_coach p{
    margin:auto;
    text-align: left;
    padding: 0;
  }

  .tech_coach img{
    width: 100%;
  }

  .service_2 img{
    width: 100%;
  }

  .service>div{
  width: 100%;
  margin: 0 auto;
}


}

@media screen and (max-width : 480px){
 .tech_coach{
  padding: 2px;
 }

 .tech_coach img{
   margin-top: 50px;
 }

 .tech_coach p{
   font-size: 20px;
   margin:50px 0;
 }

 .reqruit p{
   font-size: 20px;
   text-align: left;
 }

}
